{% if ansible_distribution == 'Debian' %}
deb {{ "[signed-by=/usr/share/keyrings/azlux-archive-keyring.gpg]" if not log2ram_has_apt_key }} http://packages.azlux.fr/debian/ {{ ansible_distribution_release }} main
{% else %}
deb http://packages.azlux.fr/debian/ bullseye main
{% endif %}
